{{!< default}}

<a name="top"></a>

{{#get "posts" limit="1"}}
	{{#foreach posts}}
		<div class="toast mt-2">
			Check out our latest update post:
			<a href="{{url}}">{{title}}</a>
		</div>
	{{/foreach}}
{{/get}}

<div class="hero text-center">
	<img src="/img/tome.png" width=100 class="p-centered">
	<h1>Tometo</h1>
	<p>
		A social network based on text-to-speech functionality. Made as a homage to Nintendo's
		<i>Mii</i> series of games, it runs in your browser and enables you to partake in many
		fun activities involving your virtual self.
	</p>

	<p class="mt-2">
		Tometo is currently in development, and is not released yet.
	</p>
</div>

<div class="float-right d-sm-none">
	<img src="/img/tomes.png" width=300 />
	<small class="d-block text-center">Our <a href="/mascot">Mascot</a>, Tome</small>
</div>

<section>
	<a name="about"></a><h2 class="merriweather">What <i>is</i> it?</h2>
	<p class="text-large">
		It's a website that you can open on your browser or your phone. Unlike Twitter
		or other social networks, you create a "character" that will speak your input
		using text-to-speech technology! You can adjust the pitch and tone of your character's
		voice, and eventually, the site will be host to a lot of different other things
		you can do with your character as well!
	</p>
</section>

<section>
	<a name="usage"></a><h2 class="merriweather">Cool, how do I use it?</h2>
	<p class="text-large">
		Tometo is currently in <strong>active development</strong>! At this point
		there's no public beta or alpha, although we will certainly update this website
		once we get to that point. We also can't give any timeframe on when we'll get to
		that milestone. However, it is developed as source-available software,
		the source is available <a href="https://git.tometo.org/source/tometo">here</a>.
	</p>
</section>

<section>
	<a name="updates"></a><h1 class="merriweather text-center">Blog</h1>
	<p class="mb-2 text-large">
		This website houses a blog that's used for updates:
	</p>
	<ul class="menu mb-2">
		{{#foreach posts limit="10"}}
		<li class="menu-item">
			<a href="{{url}}">
				<span class="text-elipsis">{{title}}</span>
			</a>
			<div class="menu-badge text-gray">{{date format='MMM D YYYY'}}</div>
		</li>
		{{/foreach}}
	</ul>
	<p class="pt-2 text-large">
		Alternatively, you can follow us on <a href="https://twitter.com/tometo_official">Twitter</a>
		or chat with us on <a href="https://discord.gg/xqTEcaw">Discord</a>.
	</p>
</section>
<!--

-->
