{{!< default}}

{{#post}}
	<h1 class="merriweather mb-0 mt-2">{{title}}</h1>
	<small class="chip">{{date format='ddd MMM D YYYY'}}</small>
	<small class="chip">
		Written by&nbsp;
		{{#foreach authors}}
			{{#if twitter}}
				<a href="https://twitter.com/{{twitter}}">{{name}}</a>
			{{else}}
				{{name}}
			{{/if}}
		{{/foreach}}
	</small>

	<section class="post-container">
		<span class="post">{{content}}</span>
	</section>
{{/post}}
