{{!< default}}

{{#post}}
	<header class="navbar my-2">
		<div class="navbar-section">
			<a class="navbar-brand no-link"><img src="/img/tome.png" alt="The primary logo for Tometo, its mascot Tome" width="30" class="v-mid"/></a>
			<a class="btn btn-link no-link"><strong>Tometo</strong> Updatelog</a>
			<a class="btn btn-link" href="/">Back to index</a>
		</div>
	</header>

	<h1 class="merriweather mb-0 mt-2">{{title}}</h1>
	<small class="chip">{{date format='ddd MMM D YYYY'}}</small>
	<small class="chip">
		Written by&nbsp;
		{{#foreach authors}}
			{{#if twitter}}
				<a href="https://twitter.com/{{twitter}}">{{name}}</a>
			{{else}}
				{{name}}
			{{/if}}
		{{/foreach}}
	</small>

	<section class="post-container">
		<span class="post">{{content}}</span>
	</section>
{{/post}}
